body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(to right, #fff3e0, #ffe0b2);
    color: #333;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #ff7a18, #ffb347);
    color: white;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    opacity: 0.95;
}

/* COUNTER */
.counter-section {
    margin-top: 40px;
    text-align: center;
}

.counter-section h2 {
    font-size: 26px;
}

.counter {
    font-size: 70px;
    color: #e65100;
    margin-top: 10px;
}


/* SEARCH */
.search-section {
    text-align: center;
    margin: 50px auto 30px;
}

#search {
    width: 65%;
    max-width: 500px;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#search:focus {
    transform: scale(1.05);
}

/* CARDS */
.card-container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.fruit-card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.12);
    transition: 0.3s;
    cursor: pointer;
}

.fruit-card h3 {
    font-size: 22px;
    margin-bottom: 8px;
}

.fruit-card p {
    font-size: 16px;
    color: #777;
}

.fruit-card:hover {
    transform: translateY(-8px) scale(1.05);
    background: linear-gradient(135deg, #ffe0b2, #ffcc80);
}

.fruit-icon {
    font-size: 50px;
    margin-bottom: 10px;
}
/* FOOTER */
footer {
    margin-top: 30px;
    background: #ff7a18;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
